# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\lhz\myproject\pp\l1b3e6684d9df3223b30f0028017213fa-s5956607054256035809-m59166f16d0f43410144cc8a5c542aa1a\pp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
